<div class="card px-4 py-4 mx-3 d-lg-flex">
    <section id="projects">
      <div class="container">
        <h2 class="font-weight-bold">Proyectos</h2>
      
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <img src="Contenedorpaginassecundarias\Fotoproyecto.png" class="card-img-top" alt="Project Image" style="width:348px; height: 170px;">
                <div class="card-body">
                  <h4 class="text-center card-title">Portfolio Web</h4>
                  <p class="card-text">Fecha de realización: 14/01/2023</p>
                  <p class="card-text">Descripción del proyecto</p>
                  <a href="PortfolioHome.html" class="btn btn-primary">Ver proyecto</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img src="https://tse1.mm.bing.net/th?id=OIP.6rBLlnj1Tb4W5cqwkGDHcgHaE8&pid=Api&P=0" class="card-img-top" alt="Project Image" style="width:348px; height: 170px;">
                <div class="card-body">
                  <h4 class="text-center card-title">Proyecto 2</h4>
                  <p class="card-text">Fecha de realización: --/--/20--</p>
                  <p class="card-text">Descripción del proyecto</p>
                  <a href="" class="btn btn-primary">Ver proyecto</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img src="https://tse1.mm.bing.net/th?id=OIP.6rBLlnj1Tb4W5cqwkGDHcgHaE8&pid=Api&P=0" class="card-img-top" alt="Project Image" style="width:348px; height: 170px;">
                <div class="card-body">
                  <h4 class="text-center card-title">Proyecto 3</h4>
                  <p class="card-text">Fecha de realización: --/--/20--</p>
                  <p class="card-text">Descripción del proyecto</p>
                  <a href="" class="btn btn-primary">Ver proyecto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
