.row{
    padding: 20px;
}

#experiencia{
    text-align: center;
    box-shadow: 2px -2px 5px #999 ;
    background-color: rgb(244, 237, 228);
}

.seccion{
    background-color: rgb(244, 237, 228);
}